
    

    window.onload = function () {
        $.getJSON("https://api.ipify.org/?format=json", function (e) {
            $("#ipaddrpublic").val(e.ip);
        });
    }
    $(".chosen-select").chosen({
        no_results_text: "No se encontraron coincidencias - ",
        width: "100%"
    });

    var triggerManual = false;

    $(document).ready(function () {
        
        $('#entities-modal').val("TESTEYMEX000|TSTEYMX000");
        $('#entities-modal').trigger("chosen:updated");
        $('#entities').val("TESTEYMEX000|TSTEYMX000");
        $('#entities').trigger("chosen:updated");
        

        $('#entities').change(function () {
            value = $(this).val();
            $('#entities-modal').val(value);
            $('#entities-modal').trigger("chosen:updated");
            setEntity(value);
        });

        $('#popoveradduser').popover({ trigger: "hover focus" });
        $('#popoveradduserbutton').popover({ trigger: "hover focus" });
        $('#popoveraddcustomer').popover({ trigger: "hover focus" });
        $('#popoveraddcustomerbutton').popover({ trigger: "hover focus" });
        $('#popoveraddservice').popover({ trigger: "hover focus" });
        $('#popoveraddservicebutton').popover({ trigger: "hover focus" });

        $('#entities-modal').change(function () {
            value = $(this).val();
            $('#entities').val(value);
            $('#entities').trigger("chosen:updated");
            setEntity(value);
        });

        $('#datausermail').keyup(validmail);

        $("#engagement").keyup(function () {
        this.value = (this.value + '').replace(/[^0-9]/g, '');
        if (this.value > 0) {
            document.getElementById("engagement").className = "form-control is-valid";
        } else {
            document.getElementById("engagement").className = "form-control is-invalid";
        }
    });

        $("#servicenameinput").keyup(function(){
            $("#servicedescriptioninput").val("");
            $("#servicerolenameinput").val("");
            $("#serviceroledescriptioninput").val("");
            $("#menunameinput").val("{ 'language': {'en_US': '', 'es_MX': ''}}");
            $("#menutooltipinput").val("{ 'language': {'en_US': '', 'es_MX': ''}}");
            $("#menuendpointinput").val("");
            $("#menuserviceimage").val("DEFAULT.jpg");
        });

        $("#datausercustomer").change(function () {
            var custom = $("#datausercustomer").val();
            var datacustom = $("#listcustomers").find('option[value="' + custom + '"]').data('contract');
            if (datacustom === undefined) {
                $("#datausercontract").val("");
            } else {
                $("#datausercontract").val(datacustom);
                $("#datausercustomer").val(custom.split(" ")[0]);
                service = document.getElementById("datauserservice");
                var servicelength = service.options.length;
                for (e = servicelength - 1; e >= 0; e--) {
                    service.options[e] = null;
                }
                var payload = '{ "usercustomer": "' + $("#datausercustomer").val() + '", "usercontract": "' + $("#datausercontract").val() + '" }';
                $.ajax({
                    type: "POST",
                    dataType: 'json',
                    contentType: 'application/json',
                    url: "/portal/app/getServicesCustom",
                    data: JSON.stringify(payload),
                    timeout:60000
                }).done(function (data, status) {
                    if (status == "success") {
                        for (i = 0; i < data.services.length; i++) {
                            var option = document.createElement("option");
                            option.value = data.services[i]['servicename'];
                            option.text = data.services[i]['servicename'];
                            service.add(option, service[i]);
                        }
                        getRoleService();
                    }
                });
            }
        });
        ''

        $('#dataAdmincustomers').DataTable({
            "columnDefs": [{
                "targets": '_all',
                "select": {
                    "items": "row",
                    "toggleable": true
                }
            }
            ],
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros",
                "info": "Página _PAGE_ de _PAGES_ - _TOTAL_ registros",
                "search": "Filtrar",
                "paginate": {
                    "first": "Primero",
                    "last": "Última",
                    "next": "Siguiente",
                    "previous": "Anterior",
                }
            }
        });
        $('#dataAdminservicesrole').DataTable({
            "columnDefs": [{
                "targets": '_all',
                "select": {
                    "items": "row",
                    "toggleable": true
                }
            }
            ],
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros",
                "info": "Página _PAGE_ de _PAGES_ - _TOTAL_ registros",
                "search": "Filtrar",
                "paginate": {
                    "first": "Primero",
                    "last": "Última",
                    "next": "Siguiente",
                    "previous": "Anterior",
                }
            }
        });
    });

    function validmail() {
        $("#datausername").val("");
        $("#datauserfname").val("");
        $("#datausermname").val("");
        $("#datausertaxid").val("");
        $("#datausergpn").val("");
        var correo = $.trim($('#datausermail').val());
        var expr = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        if (!expr.test(correo)) {
            document.getElementById("datausermail").className = "form-control is-invalid";
        } else {
            document.getElementById("datausermail").className = "form-control is-valid";
        }
    }

    function changeSelValues() {
        triggerManual = true; //set the global variable as true.
        $('#sel-modal').trigger('change');
        $('#id_label_single').trigger('change');
        triggerManual = false; //set it again to false
    }

    function profile() {
        $('#profile').modal('show');
    }

    function addRoleUser(user, nameservice, active, rolname, country) {
        tableadmin = $('#dataAdmin'+nameservice).DataTable();
        tableadmin.clear().draw();
        var payload = '{ "userservice": "' + $.trim(nameservice) + '","usermail": "' + $.trim(user).toLowerCase() + '","userole": "' + $.trim(rolname) + '","usercountry": "' + $.trim(country) + '","useractive": "' + $.trim(active) + '" ,"ipaddrpublic": "' + $.trim($("#ipaddrpublic").val()) + '"}';
        $.ajax({
            type: "POST",
            dataType: 'json',
            contentType: 'application/json',
            url: "/portal/app/addrolUser",
            data: JSON.stringify(payload),
            timeout:60000
        }).done(function (data, status) {
            if (status == "success") {
                displayinfoServiAdmin(data.listservice, nameservice);
            }
        });
    }

    function detailuser() {
        var payload = '{ "user": "' + $.trim($("#datausermail").val()).toLowerCase() + '" }';
        $.ajax({
            type: "POST",
            dataType: 'json',
            contentType: 'application/json',
            url: "/portal/app/getUserDetails",
            data: JSON.stringify(payload),
            timeout:60000
        }).done(function (data, status) {
            if (status == "success") {
                $("#datausername").val(data.catUserList[0].firstName);
                $("#datauserfname").val(data.catUserList[0].fathersName);
                $("#datausermname").val(data.catUserList[0].mothersName);
                $("#datausertaxid").val(data.catUserList[0].userRfc);
                $("#datausergpn").val(data.catUserList[0].sharedFolder);
                $("#datauserlenguaje").val(data.catUserList[0].languagePref);
            }
        });
    }

    function detailcustomercontract() {
        var custom = $("#taxidcustomerinput").val();
        var customername = $("#detailcustomcontract").find('option[value="' + custom + '"]').data('contractname');
        if (customername==undefined){
            $("#customernameinput").val("");
            $("#engagement").val("");
            $("#clientsclientlookup").val("");
            $("#logocustom").val("");
            $("#channelchange").val("");
            $("#customercontractinput").val("");
            $("#customercontractdescriptioninput").val("");
            $("#customercontractstartinput").val("");
            $("#customercontractendinput").val("");
            $("#customerserviceadd").val("");
            $("#existchannelfile").val("1")
            getRoleServicecustomer();
        }
        var payload = '{ "customer": "' + $.trim(custom.split(" ")[0]) + '","contract": "' + $.trim(custom.split(" ")[1]) + '" }';
        $.ajax({
            type: "POST",
            dataType: 'json',
            contentType: 'application/json',
            url: "/portal/app/getDetailCustomerEnti",
            data: JSON.stringify(payload),
            timeout:60000
        }).done(function (data, status) {
            if (status == "success") {
                $("#taxidcustomerinput").val($.trim(custom.split(" ")[0]));
                $("#customernameinput").val(customername);
                $("#engagement").val("");
                $("#customercontractidread").val(data.contractid);
                $("#customercontractinput").val(data.contracname);
                $("#customercontractdescriptioninput").val(data.contractdesc);
                $("#customercontractstartinput").val(…