*{margin:0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;}

.Title{
  font-style: italic;
  font-weight: bold;
  vertical-align: baseline;
  text-align: center;
  background: transparent;
  line-height: 1.35em;
  font-size: 40px;
}

.options{
text-align: center;
}

.Contenedor{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.Contenedor figure{
position: relative;
height: 250px;
width: 250px;
overflow: hidden;
border-radius: 15px;
box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.58);
cursor: pointer;
}
.Contenedor figure img{
  white-space: 100%;
  height: 100%;
  transition: all 500ms ease-out;
}

.Contenedor figure .capa{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 103,123, 0.7 );
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

.Contenedor figure:hover>.capa{
opacity: 1;
visibility: visible;


}
.Contenedor figure:hover>.capa h3{
  margin-top: 70px;
  margin-bottom: 15px;

}

.Contenedor figure .capa h3{
color:#fff;
font-weight: 400;
margin-bottom: 120px;
transition: all 500ms ease-out;
margin-top: 30px;

}

.Contenedor figure .capa p{
color:#fff;
font-size: 15px;
line-height: 1.5;
width: 100%;
max-width: 220px;
margin:auto;


}